.timer-app-container {
    margin: auto;
    height: fit-content;
    width: 75%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    margin-left: 5vw;
    margin-right: 10vw;
}

.timer-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

#myTab {
    justify-content: center;
}

.tab-content {
    display: flex;
    justify-content: center;
}

#clock {
    font-size: 100px;
    font-weight: bold;
}

.settings-btn {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

#length-options {
    display:flex;
    flex-direction: row;
}

#sound-options {
    display:flex;
    flex-direction: row;
}